<div class="container">
  <h3 class="text-blue">Dashboards</h3>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card h-100">
        <div class="m-3">
          <div class="row">
            <div class="col-8">
              <small>วันที่บัตรหมดอายุ</small>
              <h4 class="mt-2 text-center text-blue">1/09/2020</h4>
            </div>
            <div class="col-4 mt-2 text-center">
              <img src="./assets/images/icon5.png" width="55" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="m-3">
          <div class="row">
            <div class="col-8">
              <small>จำนวนวันคงเหลือ</small>
              <h4 class="mt-2 text-center text-blue">10 วัน</h4>
            </div>
            <div class="col-4 mt-2 text-center">
              <img src="./assets/images/icon5.png" width="55" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="m-3">
          <div class="row">
            <div class="col-8">
              <small>ประวัติการชำระเงิน</small>
              <h4 class="mt-2 text-center text-blue">4,000</h4>
            </div>
            <div class="col-4 mt-2 text-center">
              <img src="./assets/images/icon2.png" width="55" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="m-3">
          <div class="row">
            <div class="col-8">
              <small>รายเดือน เดือนละ</small>
              <h4 class="mt-2 text-center text-blue">2,000</h4>
            </div>
            <div class="col-4 mt-2 text-center">
              <img src="./assets/images/icon2.png" width="55" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">

    <div class="col-md-8">
      <h4 class="mt-3 mb-2 text-blue">ประวัติการชำระเงิน</h4>
      <div class="card h-100">
        <div class="card-body d-flex flex-column text-center">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">เลขที่ใบเสร็จ</th>
                <th scope="col">วันที่ทำรายการ</th>
                <th scope="col">ลานจอด</th>
                <th scope="col">จำนวนเดือน</th>
                <th scope="col">วันเริ่มต้น</th>
                <th scope="col">วันหมดอายุ</th>
                <th scope="col">จำนวนเงิน</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-blue text-center">
                <th scope="row">RE111093224</th>
                <td>1/08/2563</td>
                <td>สถานีสามย่าน</td>
                <td>1</td>
                <td>
                  2/08/2563
                </td>
                <td>1/9/2563</td>
                <td>
                  <p>2,000</p>
                </td>
                <td>
                  <i class="fas fa-print fa-lg"></i>
                </td>
              </tr>
              <tr class="text-blue text-center">
                <th scope="row">RE111093224</th>
                <td>1/08/2563</td>
                <td>สถานีสามย่าน</td>
                <td>1</td>
                <td>
                  2/08/2563
                </td>
                <td>1/9/2563</td>
                <td>
                  <p>2,000</p>
                </td>
                <td>
                  <i class="fas fa-print fa-lg"></i>
                </td>
              </tr>
              
            </tbody>
          </table>


        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h4 class="mt-3 mb-2 text-blue">อัพเดท</h4>
      <div class="card h-100">
        <div class="card-body my-3">
            <div class="d-flex flex-column justify-content-center">
                <div class="text-center px-0 px-lg-5">
                    <h5>New reports are here! Generate custom reports now!</h5>
                    <p class="mb-4">Our new report generation system is now online. You can start creating custom reporting for any documents available on your account.</p>
                    <a class="btn btn-sm btn-primary p-3 line-height-normal" href="#!">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    </div>

  </div>
</div>