<div class="container">
  <div class="text-center my-3">
    <h3>สมัครสมาชิก</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fullname">ชื่อ-สกุล</label>
            <input type="text" class="form-control" id="fullname">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="birthday">วัน/เดือน/ปีเกิด</label>
            <input type="text" class="form-control" id="birthday">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="telephone">เบอร์โทรศัพท์</label>
            <input type="text" class="form-control" id="telephone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="carlicense">ทะเบียนรถ</label>
            <input type="text" class="form-control" id="carlicense">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="province">จังหวัด</label>
            <input type="text" class="form-control" id="province">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="car-brand">ยี่ห้อ</label>
            <input type="text" class="form-control" id="car-brand">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="car-color">สีรถ</label>
            <input type="text" class="form-control" id="car-color">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="car-parking">ลานจอด</label>
            <input type="text" class="form-control" id="car-parking">
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col"><span class="h5">สำเนาบัตรประชาชน</span></div>
            <div class="col"><button class="btn btn-primary">เลือกไฟล์</button></div>
          </div>
          <small class="mb-2 mt-3">* รับรองเฉพาะไฟล์ภาพ jpg, jpeg, png หรือไฟล์เอกสาร word, excel, pdf เท่านั้น</small>
          <div class="row mt-3">
            <div class="col"><span class="h5">สำเนาทะเบียนรถ</span></div>
            <div class="col"><button class="btn btn-primary">เลือกไฟล์</button></div>
          </div>
          <small class="mb-2 mt-3">* รับรองเฉพาะไฟล์ภาพ jpg, jpeg, png หรือไฟล์เอกสาร word, excel, pdf เท่านั้น</small>
        </div>
        <div class="col-md-12 my-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree all statements in <a>Terms of
                service</a></label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="row">
                <div class="col text-right"><button class="btn btn-secondary">ยกเลิก</button></div>
                <div class="col text-left"><button class="btn btn-primary">ลงทะเบียน</button></div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
