.box-1 {
  top: 361px;
  left: 1308px;
  max-width: 525px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}
