.text-blue {
  color: #080071;
}
.text-red {
  color: #E94033;
}
.btn-bluegreen {
  color: white !important;
  background-color: #00AAB7 !important;
  border-color: #00AAB7 !important;
}
.btn-bluedark {
  color: white !important;
  background-color: #252267 !important;
  border-color: #252267 !important;
}

.wrapper {
  margin: 2rem 5rem;
}

// a {
//   color: #0061f2;
//   text-decoration: none;
//   background-color: transparent;
// }
// .btn {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }

// .form-control {
//   display: block;
//   width: 100%;
//   height: calc(1.5em + 1rem + 2px);
//   padding: 0.5rem 1rem;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #687281;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #c5ccd6;
//   border-radius: 0.35rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
