<div class="container">
  <div class="text-center my-3">
    <h3>สมัครบริการลานจอดรถยนต์/ต่ออายุ (รายเดือน)</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="car-parking">ลานจอดรถ</label>
            <select class="form-control">
              <option>ลานจอดรถ</option>
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="car-parking">จำนวนเดือน</label>
            <select class="form-control">
              <option>จำนวนเดือน</option>
              <option value="1">1 เดือน</option>
              <option value="2">2 เดือน</option>
              <option value="3">3 เดือน</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="startdate">วันที่เริ่มต้น</label>
            <input type="text" class="form-control" id="startdate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="enddate">วันหมดอายุ</label>
            <input type="text" class="form-control" id="enddate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="pricemonth">ราคาต่อเดือน</label>
            <input type="text" class="form-control" id="pricemonth">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="priceall">รวมราคาทั้งหมด</label>
            <input type="text" class="form-control" id="priceall">
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="row">
                <div class="col text-right"><button class="btn btn-secondary col-6">ยกเลิก</button></div>
                <div class="col text-left"><button class="btn btn-primary col-6">ยืนยัน</button></div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
